* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* Common */
.content {
  max-width: calc(100% - 48px);
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 18px 16px;
  background-color: var(--primary-color);
  min-width: 98px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header */

.header {
  position: relative;
  background-color: #e6f0ff;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  font-weight: 500px;
  font-size: 1.4rem;
  letter-spacing: 0%;
  line-height: 100%;
  padding: 8px 16px;
  color: #000228;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action {
  margin-left: auto;
}

.navbar .action-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

/* === Hero === */
.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  margin-top: 40px;
  color: #5a6473;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  border-radius: 12px;
  background: #0f1b4c;
  min-width: 170px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* === Clients === */
.clients {
  margin-top: 79px;
  padding: 43px 0 63.62px;
}

.clients .content .row {
  display: flex;
  justify-content: space-between;
}

.clients .row .desc {
  color: #7d8589;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.clients .row-desc {
  margin-bottom: 23px;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients .images a {
  display: flex;
  padding: 0 41.18px;
  height: 91px;
  align-items: center;
  border-radius: 12px;
  background: #fff;
}

.clients .images a:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* === Guides === */

.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}
.guides .content .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.guides .content .sub-title::before {
  content: "";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .content .desc {
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  width: 459px;
  max-width: 100%;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
}

.guide-item .link span {
  margin-top: 10px;
  color: #0689ff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.guide-item .link img {
  margin-top: 17px;
  margin-left: 3px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-shrink: 0;
  border-radius: 12px;
}

.guide-cta .btn {
  min-width: 170px;
  height: 50px;
  background: #0f1b4c;
}

/* === Featured === */
.featured {
  margin-top: 41px;
  padding-top: 110px;
  padding-bottom: 110px;
  background: #f5fafe;
}

.featured .content .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.featured .content .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.featured .content .desc {
  margin-top: 15px;
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

.featured .content .link {
  color: #0689ff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.featured .content .link img {
  margin-left: 3px;
}

.featured .list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.featured .list .item {
  flex: 1;
  border-radius: 12px;
  background: #ffffff;
  overflow: hidden;
}

.featured .list .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .list .item .body {
  padding: 17px 20px 24px;
}

.featured .list .item .body .title a {
  color: #000339;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5; /* 100% */
}

.featured .list .item .body .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  --line-clamp: 3;
  word-break: break-all;
}

.featured .list .item .body .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .list .item .body .info .icon {
  margin-left: 23px;
}

.featured .list .item .body .info .icon:first-child {
  margin-left: 0;
}

.featured .list .item .body .info .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01rem;
}

/* === Stats === */
.stats {
  margin-top: 75px;
  padding: 50px 227px 50px 196px;
}

.stats .content .row {
  display: flex;
}

.stats .content {
  width: 1017px;
  height: 685px;
}

.stats .content .row .img-block,
.info {
  width: 50%;
}

.stats .content .row .img-block {
  position: relative;
}

.stats .content .row .img-block .stats-trend {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0 0 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
}

.stats .content .row .img-block .stats-trend .row .value {
  width: 159px;
  height: 26px;
  flex-shrink: 0;
  color: #000339;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.stats .content .row .img-block .stats-trend .row img {
  width: 25.11px;
  height: 16.034px;
  flex-shrink: 0;
  margin-left: auto;
}

.stats .content .row .img-block .stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.stats .content .separate {
  width: 193.62px;
  height: 1.2px;
  margin-top: 25px;
}

.stats .content .avatar-block {
  margin-top: 25.79px;
  display: flex;
  gap: 16.34px 13.92px;
  flex-wrap: wrap;
}

.stats .content .avatar-block .avatar-group {
  display: flex;
}

.stats .content .avatar-block .avatar-group .avatar {
  width: 16.337px;
  height: 16.337px;
  margin-left: -3px;
  flex-shrink: 0;
  border-radius: 16.337px;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);
  object-fit: cover;
  background-color: var(--bg-color, #fff);
  color: #fff;
  font-family: "Circular Std";
  font-size: 0.726rem;
  font-style: normal;
  font-weight: 450;
  letter-spacing: -0.145px;
  line-height: 16px;
  text-align: center;
}

.stats .content .avatar-block .avatar-group .avatar:first-child {
  margin-left: 0;
}

.stats .content .row .info {
  padding-top: 79px;
  padding-left: 165px;
}

.stats .content .row .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  box-shadow: 40px 80px 155px 0 rgba(30, 103, 113, 0.03);
  object-fit: cover;
}

.stats .content .row .info .sub-title {
  position: relative;
  margin-top: 64px;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28571;
}

.stats .content .row .info .sub-title::before {
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  content: "";
  border-radius: 12px;
  background: #000339;
  width: 41px;
  height: 4px;
}

.stats .content .row .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
}

.stats .content .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 0 32px;
}

.stats .content .row-qty .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .content .row-qty .qty-desc {
  margin-top: 22px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ====== Subscription ===== */

.subscription {
  margin-top: 90px;
}

.subscription .content .body {
  position: relative;
  width: 1110px;
  height: 370px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #063183;
}

.subscription .content .body .info {
  padding: 0 80px;
  width: 671px;
  max-width: 100%;
}

.subscription .content .body .info .sub-title {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
}

.subscription .content .body .info .desc {
  color: #fff;
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.subscription .content .body .info .btn {
  margin-top: 20px;
  min-width: 151px;
  height: 50px;
  border-radius: 12px;
  background: #fff;
  color: #002366;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscription .content .body .image {
  position: absolute;
  bottom: 0;
  right: 221.02px;
}

/* ===== Footer ===== */

.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .content .row-top {
  display: flex;
  gap: 185px;
}

.footer .content .row-top .column .list .item {
  margin-top: 18px;
}

.footer .content .row-top .column .list .item a {
  text-decoration: none;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .content .row-top .column .list,
.footer .content .row-top .column .desc {
  margin-top: 42px;
}

.footer .content .row-top .column .heading {
  color: #1c1c1d;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.footer .content .row-top .column .desc {
  margin-top: 40px;
  color: #7a7a7e;
  width: 257px;
  height: 56px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer .content .row-top .column .social {
  display: flex;
  margin-top: 40px;
  width: 117px;
  flex-shrink: 0;
}

.footer .content .row-top .column .social .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.47px;
  height: 28.47px;
}

.footer .content .row-top .column .social .social-link:hover {
  background: #ebebeb;
  border-radius: 3px;
}

.footer .content .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .content .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
